spring:
  datasource:
    # url: jdbc:h2:tcp://localhost:9092/~/java/h2/data/avadodb # macAndWin[0]
    url: jdbc:h2:tcp://localhost/C:/Java/H2/data/avadodb # macAndWin[1]
    username: avado
    password: avado
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        ddl-auto: validate
      properties:
        hibernate:
          "[format_sql]": true
          "[show_sql]": true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.naver.com
    port: 465
    username: project_avado@naver.com
    password: HD6RKTX4JQD2
    properties:
      debug: true
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
            trust: smtp.naver.com

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 932221186527-3tbjc2hh6h5p2gqemiqvf2obis7itg1h.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "http://localhost:80/login/oauth2/code/google"
        provider:
          google:
            user-info-uri: "https://www.googleapis.com/oauth2/v3/userinfo"
            user-name-attribute: email

logging:
  level:
    "[com.tutorial]": debug

jwt:
  secret: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK

server:
  port: 80

file:
  dir: C:/Temp # macAndWin[1]
  # dir: /Users/diaz/java/Temp # macAndWin[0]

  # upload-dir: /Users/diaz/java/Temp/img/
